@import 'commonStyles/_colors.scss';

.c-footer_link {
	align-self: center;
	justify-self: center;

	a {
		display: flex;
		align-items: center;
	}
}

.c-footer_graphic {
	padding-left: .5rem;
	width: 50px;

	svg {
	 	width: 100%;
	 	height: 100%;
	 	fill: $silver;
	}
}