@import "commonStyles/_colors.scss";

.c-about {
    text-align: center;
    padding: 4rem 0;
}

// Reduce height of container @ larger screen sizes
// to minimize whitespace under text.
@media screen and (min-width: 700px) {
    .c-about_text {
        font-size: 1.4rem;
    }
}
