@import 'commonStyles/_colors.scss';

.c-jsGraphic {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	stroke: $silver;
	fill: none;
	stroke-width: 12;
	stroke-linecap: round;


	&.s-is-hovered {
		stroke: darken($clay-red, 10%);
	}
}

.c-jsGraphic_bracket--left, .c-jsGraphic_bracket--right {
	width: 100%;
	flex: 0 1 40%;
}

.c-jsGraphic_bracket--right {
	animation: spinBack .25s ease forwards;
	transform: rotate(180deg);
}

// Media queries below
@media screen and (min-width: 545px) {
	.c-jsGraphic {

		&.s-is-hovered {
			stroke: darken($clay-red-trans, 10%);
			
			.c-jsGraphic_bracket--right {

				animation: spinOut .25s ease forwards;
			}

		}
		
	}
}

// Animations below
@keyframes spinOut {
	from {
		transform: translateX(0) rotate(0);
	}

	to {
		transform: translateX(250%) rotate(180deg);
	}
}

@keyframes spinBack {
	from {
		transform: translateX(250%) rotate(360deg);
	}

	to {
		transform: translateX(0) rotate(180deg);
	}
}