@import 'commonStyles/_colors.scss';

.c-jsGraphic {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	transition: all .25s;

	&.s-is-hovered {
	}
}

.c-jsGraphic_background {
	position: absolute;
	background-image: linear-gradient(0.25turn, #e0cfcb 0%, #fb7b5c 34%, #b00000 75%);
	width: 80%;
	height: 80%;
	margin: 1.5rem;
	z-index: -10;
	transform: translateX(-100%);
	opacity: 0;
	transition: .25s all ease-in-out;

	&.s-is-hovered {
		opacity: 1;
		transform: translateX(0);
	}
}

.c-jsGraphic_anchor {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}