@import 'commonStyles/_colors.scss';

.c-skillCard {
	min-width: 220px;
	max-width: 300px;
	border: 2px solid $silver;
	flex: 1 1 0;
	padding: 1rem;
	margin: .5rem .5rem;
	color: $dark;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: color .25s;

	&.s-has-react-theme {
		animation: reactBorder .25s linear forwards;
		color: darken($react-blue, 10%);
	}

	&.s-has-css-theme {
		animation: htmlBorder .2s linear forwards;
		color: $highlight-trans;
	}

	&.s-has-js-theme{
		animation: jsBorder .25s linear forwards;
		color: $js-red;
	}
}

.c-skillCard_link {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.c-skillCard_text {
	background-color: $white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 10rem;
	width: 90%;
	display: flex;
	flex-direction: column;
}

.c-skillCard_title {
	border-bottom: 1px solid $dark;
}

.c-skillCard_content {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

// Animation definitions below

@keyframes htmlBorder {

	from {
		border: 2px solid $silver;
		transform: scale(1) translate(0,0);
	}

	25% {
		border: 2px solid $silver;
		border-top: 2px solid $highlight;
	}

	50% {
		border: 2px solid $silver;
		border-right: 2px solid $highlight;
	}

	75% {
		border: 2px solid $silver;
		border-bottom: 2px solid $highlight;
	}

	to {
		border: 2px solid $silver;
		border-left: 2px solid $highlight;
		transform: scale(1.0075) translate(2px, 2px);
	}
}

@keyframes reactBorder {
	from {
		border: 2px solid transparent;
		transform: scale(1) translate(0, 0);
	}

	25% {
		border: 2px solid transparent;
		border-top: 2px solid $react-blue;
	}

	50% {
		border: 2px solid transparent;
		border-top: 2px solid $silver;
		border-right: 2px solid $react-blue;
	}

	75% {
		border: 2px solid transparent;
		border-top: 2px solid $silver;
		border-right: 2px solid $silver;
		border-bottom: 2px solid $react-blue;
	}

	to {
		border: 2px solid $silver;
		border-left: 2px solid $react-blue;
		transform: scale(1.0075) translate(2px, 2px);
	}
}

@keyframes jsBorder {
	from {
		border: 2px solid transparent;
		transform: scale(1) translate(0,0);
	}

	25% {
		border: 2px solid transparent;
		border-top: 2px solid $js-red;
	}

	50% {
		border: 2px solid transparent;
		border-top: 2px solid $silver;
		border-right: 2px solid $js-red;
	}

	75% {
		border: 2px solid transparent;
		border-top: 2px solid $silver;
		border-right: 2px solid $silver;
		border-bottom: 2px solid $js-red;
	}

	to {
		border: 2px solid $silver;
		border-left: 2px solid $js-red;
		transform: scale(1.0075) translate(2px, 2px);
	}
}

