.intro {
	display: flex;
	flex-wrap: wrap;
}

.intro_heading {
	font-family: 'Oswald';
	font-weight: 600;
	font-size: 3rem;
	flex: 50%;
	min-width: 250px;
	display: grid;
	justify-content: center;

	@media screen and (min-width: 600px) {

	}
}

.intro_headshot {
	border-radius: 50%;
	width: 75%;
	margin: 0 auto;
}

.intro_content {
	flex: 50%;
	min-width: 200px;
	display: grid;
	justify-content: center;
	align-content: center;
}