@import 'commonStyles/_colors.scss';

.c-reactGraphic {
	width: 100%;
	height: 100%;
	transition: .2s all;
	stroke: $white;
	fill: $silver;

	&.s-is-hovered {
			fill: $react-blue;
			stroke: $silver;
			animation: spin 20s linear infinite;
	}
}

@keyframes spin {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}