@import 'commonStyles/_colors.scss';

// Define vars for use in hover effect
$map: (
	1: $dark,
	2: $silver,
	3: $white
);

$hover-map: (
	1: 1,
	2: 0.5,
	3: 0.25
);

.c-about_splash {
	width: 15%;
	height: 15%;
	opacity: .5;
	position: absolute;
	left: 42.5%;
	top: 42.5%;
	transition: .5s ease transform;
}

.s-is-hovered .c-about_splash {
	transform: scale(5);
	opacity: 1;

	// Add color rings to splash on hover
	@each $key, $opacity in $hover-map {
		.c-about_splash--stop#{$key} {
			stop-color: $accent;
			stop-opacity: $opacity;
		}
	}
}

@each $key, $color in $map {
	.c-about_splash--stop#{$key} {
		stop-color: $color;
	}
}

// Queries start here

// On large enough screen, increase size of color splash when hovered.
@media screen and (min-width: 875px) {

	.s-is-hovered .c-about_splash {
		transform: scale(8);
	}

}