@keyframes stagger{
	from {
		transform: translateX(-100vw);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.staggerChild {
	animation-name: stagger;
	animation-duration: .5s;
	animation-timing-function: ease-in;
}